{% extends 'base.html' %}
{% block content %}
{% url todo.views.todo as todo_url %}

<form action="demo_form.asp">
  <input type="text" name="todo_name" class="default-value" value="Enter a new item here"/>
  <input type="text" name="todo_description" class="default-value" value="Enter a description here"/>
  <input type="submit" class="submit" value="Submit">
</form>

{% if todo_list %}
    <ol>
      {% for item in todo_list %}
      <li><div class='title'>
        {{ item.name }}
      </div></li>
      {% if item.description %}
      <div id='desc'>
      {{ item.description }}
      </div>
      {% endif %}
      {% endfor %}
    </ol>
{% else %}
    <div id='todo'>
    <p>You don't have anything to do!</p>
    </div>
{% endif %}
{% endblock %}
