{% extends 'base.html' %}
{% block content %}
{% url todo.views.todo as todo_url %}

<script type="text/javascript">
  $(document).ready(function() {
    //Load elements of index
    $(".list-todo").load("{% url todo.views.todo %}");
    $(".new-todo").load("{% url todo.views.new_todo %}");
    $(".login").load("{% url todo.views.login %}");
      
  });
</script>

<!-- LOGIN FORM -->
<div class="login"></div>

<!-- NEW TODO -->
<div class="new-todo"></div>

<!-- LIST TODOs -->
<div class="list-todo"></div>

<!-- NO TODOs TO LIST -->
{% if not todo_list %}
<div id='todo'>
  <p>You don't have anything to do!</p>
</div>
{% endif %}
{% endblock %}
