<header>
  <nav>
    <div class="welcome">
      Welcome {{ user }}! 

      {% if not user.is_authenticated %}

      Login to save your to-do list.

      {% endif %} 

      <div class="linksRight">
        {% if not user.is_authenticated %}

        <a href="#" class="loginbutton">LOGIN</a>

        <a href="#" class="registrationbutton">REGISTER</a>

        {% else %}

        <a href="{% url todo.views.logout %}" class="button">LOGOUT</a>

        {% endif %}
      </div>
      <div class="container">
      <div id="login_box">
        <div id="login_box_content"></div>
        <div id="login_box_content">
          <form method="post" action="{% url todo.views.login %}" id="login_form">
            {% csrf_token %}
            <input type="text" placeholder="Username" />
            <input type="password" placeholder="Password" />
            <center><input type="submit" value="LOGIN" /></center>
          </form>
        </div>
      </div>
    </div>
      <div id="registration_box">
        <div id="registration_box_content"></div>
        <div id="registration_box_content">
          <form method="post" action="{% url todo.views.registration %}" id="registration_form">
            {% csrf_token %}
            <input type="text" placeholder="Username" required/>
            <input type="password" placeholder="Password" required/>
            <center><input type="submit" value="REGISTER" /></center>
          </form>
        </div>
      </div>
    </div> 

  </div>
  </nav> 
</header> 
